.hero {
    &__bg {
        height: 653px;
        background: url("../../img/hero.jpg");
        background-size: cover;
        background-position: center;
    }

    &__credits p {
        margin-top: 0.1rem;
        font-size: 1.2rem;
    }
}

@include media-md {
    .hero {
        &__bg {
            height: 327px;
        }

        &__credits p {
            font-size: 0.65rem;
        }
    }
}