.hero {
    &__bg {
        height: 150px;
        background: url("../../img/hero.webp");
        background-size: cover;
        background-position: center;
    }

    &__credits p {
        font-size: 0.75rem;
    }
}


@include media-breakpoint-up(md) {
    .hero {
        &__bg {
            height: 327px;
        }

        &__credits p {
            font-size: 0.90rem;
        }
    }
}

@include media-breakpoint-up(lg) {
    .hero {
        &__bg {
            height: 400px;
        }

        &__credits p {
            font-size: 1.05rem;
        }
    }
}

@include media-breakpoint-up(xl) {
    .hero {
        &__bg {
            height: 653px;
        }

        &__credits p {
            font-size: 1.2rem;
        }
    }
}