.add-item {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;

    &__plus {
        margin-right: 1rem;
        color: $plus-icon;
        transform: scale(1.3);
    }
}

@include media-md {
    .add-item {
        font-size: 1.2rem;
        font-weight: 600;

        &__plus {
            margin-right: 0.5rem;
            transform: scale(1);
        }
    }
}