.create-button {
    & button {
        outline: none;
        border: 0 !important;
        border-radius: 0.65rem !important;
        background: $button-color !important;
        padding: 0.3rem 2.3rem !important;
        font-size: 1.4rem;
        margin: 0.75rem 0;
        align-self: flex-end;
    }
}