.input-box {

    margin-top: 0.6rem;
    margin-left: 3rem;

    &__title {
        font-size: 0.85rem;
        font-weight: 600;
        color: $text-color;
        margin-bottom: 0.3rem;
    }

    &__input {
        border-radius: 0 !important;
        border: 2px solid $input-border !important;
        padding: 0.5rem 0.75rem !important;
        margin-bottom: 1rem;
    }
}

@include media-md {
    .input-box {
        margin-left: 0rem;

        &__title {
            font-size: 0.7rem;
        }

        &__input {
            padding: 0.3rem 0.4rem !important;
        }
    }
}