.list-item {
    display: flex;
    font-size: 1.85rem;
    font-weight: 500;
    color: $text-color;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.8rem;
    @include transition-ease;

    &__icon {
        margin: 0 0.8rem;
        cursor: pointer;
        opacity: 0;
        transform: scale(1.3);
        @include transition-ease;
    }

    &__settings .trash {
        color: $trash-icon;
        transform: scale(1.3);
    }

    &__settings .edit {
        color: $edit-icon;
        transform: scale(1.3);
    }

    &:hover {
        background: $item-hover;
        @include transition-ease;

        .list-item__icon {
            @include transition-ease;
            opacity: 1;
        }
    }
}

@include media-breakpoint-down(md) {
    .list-item {
        font-size: 1.2rem;
        font-weight: 600;
        padding-right: 0.5rem;

        &__icon {
            margin: 0 0.5rem;
        }

        &__settings .trash {
            transform: scale(1);
        }

        &__settings .edit {
            transform: scale(1);
        }
    }
}